* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-bg-primary: #041e42;

}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.7rem;
    font-family: 'Courier New', Courier, monospace;
    background: #000;
    color: #000;
}

.btn {
    background: var(--color-bg-primary);
    border: 2px solid var(--color-bg-primary);
    border-radius: .2rem;
    padding: .5rem 1rem;
    inline-size: 500px;
}
