/* ********************** GENERAL STYLING ********************** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --container-width-lg: 84%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --color-primary-bg: ;
  --color-secondary-bg: ;
  --color-text: ;

  --transition: all 300ms ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-bg-primary);
  margin: 0;
  /* white-space: no-wrap; */
  font-size: 1.5rem;
}

.container {
  inline-size: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 4rem 0;
}

a {
  font-weight: 500;
  color: #646cff;
  transition: var(--transition);
}

a:hover {
  color: #535bf2;
}

img {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* ********************** MEDIA QUERIES ********************** */
/* ================ TABLETS ================ */
@media screen and (max-width: 1024) {
  .container {
    inline-size: var(--container-width-md);
  }

  section {
    padding: 2rem 0;
  }
}

/* ================ TABLETS ================ */
@media screen and (max-width: 600px) {
  .container {
    inline-size: var(--container-width-sm);
  }

  section {
    padding: 2rem 0;
  }
}